name: Metrics

on:
    schedule: [{ cron: "25 9 * * *" }]
    push:
        branches:
            - main
            - dev
    workflow_dispatch:

jobs:
    metrics:
        name: Update metrics
        runs-on: ubuntu-latest
        steps:
            - name: Generate GitHub metrics
              if: ${{ success() || failure() }}
              uses: lowlighter/metrics@latest
              with:
                  filename: github.svg
                  token: ${{ secrets.METRICS_TOKEN }}
                  config_timezone: Asia/Singapore
                  output_action: gist
                  committer_gist: ${{ vars.GIST_ID }}
                  config_padding: 0, 8
                  base: header, activity, community, repositories, metadata
                  base_indepth: yes
                  plugin_activity: yes
                  plugin_followup: yes
                  plugin_followup_indepth: yes
                  plugin_followup_sections: repositories, user
                  plugin_habits: yes
                  plugin_habits_facts: yes
                  plugin_habits_charts: no
                  plugin_languages: yes
                  plugin_languages_details: lines, bytes-size, percentage
                  plugin_languages_indepth: yes
                  plugin_languages_limit: 5
                  plugin_lines: yes
                  plugin_notable: yes
                  plugin_notable_from: all
                  plugin_notable_types: commit
                  plugin_people: yes
                  plugin_traffic: yes
                  plugin_wakatime: yes
                  plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}

            - name: Generate achievements and trivia
              if: ${{ success() || failure() }}
              uses: lowlighter/metrics@latest
              with:
                  filename: achievements-trivia.svg
                  token: ${{ secrets.METRICS_TOKEN }}
                  config_timezone: Asia/Singapore
                  output_action: gist
                  committer_gist: ${{ vars.GIST_ID }}
                  config_padding: 0, 8
                  config_order: achievements, music, 16personalities
                  base: ""
                  plugin_achievements: yes
                  plugin_music: yes
                  plugin_music_provider: spotify
                  plugin_music_token: ${{ secrets.SPOTIFY_TOKENS }}
                  plugin_music_limit: 8
                  plugin_16personalities: yes
                  plugin_16personalities_url: ${{ secrets.PERSONALITIES_URL }}
                  plugin_16personalities_sections: personality, profile, traits

            - name: Generate HIMEHINA Now Hot screenshot
              if: ${{ success() || failure() }}
              uses: lowlighter/metrics@latest
              with:
                  filename: himehina-now-hot.svg
                  token: ${{ secrets.METRICS_TOKEN }}
                  config_timezone: Asia/Singapore
                  output_action: gist
                  committer_gist: ${{ vars.GIST_ID }}
                  config_padding: 0, 8
                  base: ""
                  plugin_screenshot: yes
                  plugin_screenshot_title: HIMEHINA Now Hot
                  plugin_screenshot_url: https://himehina.jp/
                  plugin_screenshot_selector: .nowhot
                  plugin_screenshot_viewport: |
                      {
                        "width": 1920,
                        "height": 1080
                      }

            - name: Generate HIMEHINA Updates screenshot
              if: ${{ success() || failure() }}
              uses: lowlighter/metrics@latest
              with:
                  filename: himehina-updates.svg
                  token: ${{ secrets.METRICS_TOKEN }}
                  config_timezone: Asia/Singapore
                  output_action: gist
                  committer_gist: ${{ vars.GIST_ID }}
                  config_padding: 0, 8
                  base: ""
                  plugin_screenshot: yes
                  plugin_screenshot_title: HIMEHINA Updates
                  plugin_screenshot_url: https://himehina.jp/
                  plugin_screenshot_selector: .updates
                  plugin_screenshot_viewport: |
                      {
                        "width": 1920,
                        "height": 1080
                      }
